.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 65px;
  margin-bottom: 17px;
}

.container,
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  height: 100vh;
}

/* .line {
   flex-direction: row;
} */
